PORT = 5050
ORIGIN = http://localhost:5173
DB_HOST = 127.0.0.1
DB_USER = root
DB_PASSWORD = rootroot

# Generated using: node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
SESSION_SECRET = 5fe0b92932479680596a11f6b039d0f27ea3350f2320e0cccf5ccf4f45c410ff